.container {
    margin-top: 5%;
}

.center {
    text-align: center;
}

.mgbtm {
    margin-bottom: 4%;
}

.cnt {
    margin-top: 10%;
    margin-left: 45%;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px 5px black;
}

.title {
    margin-top: 1%;
    margin-left: 10%;
}

.aa {
    margin: 15% 0 0 10%;
    font-size: 20px;
    text-decoration: underline;
}

.info {
    font-size: 30px;
    margin-bottom: 20px;
}