<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Read (All)</title>
</head>

<body>
    <div class="container">
        <h1>All Users</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for one_user in all_userz %}
                <tr>
                    <td>{{one_user["id"]}}</td>
                    <td>{{one_user["first_name"]}} {{one_user["last_name"]}}</td>
                    <td>{{one_user["email"]}}</td>
                    <td>{{one_user["created_at"]}}</td>
                    <td><a href="/user/{{one_user['id']}}">Show</a> | <a href="/edit/{{one_user['id']}}">Edit</a> | <a href="/delete/{{one_user['id']}}">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>

            </tbody>
        </table>
        <a href="/add_user">Add a New User</a>
</body>

</html>